
.containerDiv{
    height: 100vh;
}

#myPic{
    width: 250px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: 120px;
}
#titleh1,#titleh2{
    color: white;
    font-family: "Montserrat";
}
#titleh1{
    font-size: 50px;
    margin-top: 50px;  
}
#titleh2{
    font-size: 40px;
    
    
}